<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/white_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yellow_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp"
        tools:targetApi="31">
        <activity
            android:name=".TutorBottomNavigation"
            android:exported="false" />

        <activity
            android:name=".BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".InmateGrievanceActivity"
            android:exported="false" />
        <activity
            android:name=".TutorSignUpActivity"
            android:exported="false" />

        <activity
            android:name=".InmateSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>